<% content_for(:title, "Blog | Post") %>

<h3>Code Blog</h3>

<p>You can check out some of the projects I've been working on below. Click on a category to see all the projects for that code skill. </p>

<h3>Posts</h3>

<% if current_admin %>
  <%= link_to 'Add a Post', new_post_path, id: 'new_post_link', remote: true, :class => "btn btn-success" %>
  <br>
<% end %>

<div class="posts" id="posts">
<%= render @posts %>
</div>
